// Place all the styles related to the coaching controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #e0e0d1;
}
h1 {
  text-align: center;
  font-family: Arial;
}

p, form {
  text-align: center;
  font-family: Arial;
}

